<!-- START OF _includes/article.html -->
<article>
    <header>
        <h1>
            <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
        </h1>
        <h3 style="text-align: center;">by Nathan LeClaire</h3>
        <time>{{ post.date | date: "%d %B %Y" }}</time>
    </header>
    <div>
        {{ content }}
    </div>
    <footer>
        <p>If you find a mistake or issue in this article, please <a id="pull-request-link" taget="_blank" href="">fix it and submit a pull request on Github</a> (must be signed in to your GitHub account).</p>
        <a target="_blank" style="display: block;" href="https://twitter.com/share?url=http://nathanleclaire.com{{ post.url }}&text=Great article from @upthecyberpunks : " class="social-media-spam">Tweet It</a>
        <a target="_blank" href="https://news.ycombinator.com/submitlink?u=http://nathanleclaire.com{{ post.url }}&t=" class="social-media-spam">Submit to Hacker News</a>
        <a target="_blank" style="display: block !important;" href="http://www.reddit.com/submit?url=http://nathanleclaire.com{{ post.url }}&title=" class="social-media-spam">Submit to Reddit</a>
        <br>{% include post/categories.html %} {% if post.source.url %}via <a href="{{ post.source.url }}">{{ post.source.title }}</a>{% endif %}
    
        <a target="_blank" style="display: block !important;" href="https://plus.google.com/105756679802696667449?rel=author">Google+</a>

    </footer>
    {% unless post.id %} {% include pagination.html %} {% endunless %}
</article>
<!-- END OF _includes/article.html -->
